.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}
.input {
  color: rgb(255, 166, 0);
  margin-left: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(255, 166, 0);
}
.button {
  width: 100px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid rgb(255, 166, 0);
  border-radius: 5px;
  &:hover {
    background-color: rgb(186, 247, 74);
  }
}
.text {
  color: rgb(255, 166, 0);
}
