.form {
  width: 300px;
  padding-bottom: 30px;
  border-color: rgb(255, 166, 0);
}

.input {
  margin-left: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(255, 166, 0);
}
.text {
  color: rgb(255, 166, 0);
}
